@{
    ViewBag.Title = "About";
}

<section class="w3l-wecome-content-6">
    <!-- /content-6-section -->
    <div class="ab-content-6-mian py-5">
        <div class="container py-lg-5">
            <div class="welcome-grids row">
                <div class="col-lg-6 mb-lg-0 mb-5">
                    <h3 class="hny-title">
                        About Our Aone fashion <span>boutique</span>
                    </h3>
                    <p class="my-4">
                        Aone fashion boutique deeply dedicated to the ethical and humane production of every one our pieces. We will tolerate nothing less.
                        Every supplier signs a binding letter of agreement to heed to the highest production standards, and we enforce those standards. We make no compromises in ethical production and will correct any issues the moment we hear of them.
                    </p>
                    <p class="mb-4">Aone fashion boutique goal is to provide our customers with items that are ethically produced, fashionable, fun, and well-priced.</p>
                    <div class="read">

                    </div>
                </div>
                <div class="col-lg-6 welcome-image">
                    <img src="~/assets/images/2.jpg" class="img-fluid" alt="" />
                </div>

            </div>

        </div>
    </div>
</section>
<!-- //content-6-section -->


<section class="w3l-specification-6">
    <!-- /specification-6-->
    <div class="specification-6-mian py-5">
        <div class="container py-lg-5">
            <div class="row story-6-grids text-left">
                <div class="col-lg-5 story-gd">
                    <img src="~/assets/images/left2.jpg" class="img-fluid" alt="/">
                </div>
                <div class="col-lg-7 story-gd pl-lg-4">
                    <h3 class="hny-title">What We <span>Offer</span></h3>
                    <p>We have got the best collection of Lawn Suits, Party wear Salwar Suits, Designer Salwar Suits, Pakistani Salwar Suits, Cotton Printed & Embroidered Dress Materials, etc. which cannot be found in your neighbourhood shop or Locality.These collections include catalogs from India’s top brands of Salwar Suits like Mumtaz Arts, Aashirwad, Fiona, Sahiba, Radhika Fashion, Maisha, and more..</p>



                </div>



            </div>
        </div>
    </div>
</section>
<!-- //specification-6-->
<!-- //content-6-section -->
<section class="features-4">
    <div class="features4-block py-5">
        <div class="container py-lg-5">
            <h6>We are the best</h6>
            <h3 class="hny-title text-center">What We <span>Offering</span></h3>

            <div class="features4-grids text-center row mt-5">
                <div class="col-lg-3 col-md-6 features4-grid">
                    <div class="features4-grid-inn">
                        <span class="fa fa-bullhorn icon-fea4" aria-hidden="true"></span>
                        <h5><a href="#URL">Call Us Anytime</a></h5>


                    </div>
                </div>
                <div class="col-lg-3 col-md-6 features4-grid sec-features4-grid">
                    <div class="features4-grid-inn">
                        <span class="fa fa-truck icon-fea4" aria-hidden="true"></span>
                        <h5><a href="#URL">Free Shipping</a></h5>


                    </div>
                </div>
                <div class="col-lg-3 col-md-6 features4-grid">
                    <div class="features4-grid-inn">
                        <span class="fa fa-recycle icon-fea4" aria-hidden="true"></span>
                        <h5><a href="#URL">Free Returns</a></h5>


                    </div>
                </div>
                <div class="col-lg-3 col-md-6 features4-grid">
                    <div class="features4-grid-inn">
                        <span class="fa fa-money icon-fea4" aria-hidden="true"></span>
                        <h5><a href="#URL">Secured Payments</a></h5>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- features-4 -->
