@{
    ViewBag.Title = "Home Page";
}


<!-- //w3l-banner-slider-main -->
<section class="w3l-grids-hny-2">
    <!-- /content-6-section -->
    <div class="grids-hny-2-mian py-5">
        <div class="container py-lg-5">

            <h3 class="hny-title mb-0 text-center">Shop With <span>Us</span></h3>
            <p class="mb-4 text-center">Handpicked Favourites just for you</p>
            <div class="welcome-grids row mt-5">
                <div class="col-lg-2 col-md-4 col-6 welcome-image">
                    <div class="boxhny13">
                        <a href="#URL">
                            <img src="~/assets/images/grid1.jpg" class="img-fluid" alt="" />
                            <div class="boxhny-content">
                                <h3 class="title">Product
                            </div>
                        </a>
                    </div>
                    <h4><a href="#URL">Hand Bags</a></h4>

                </div>

                <div class="col-lg-2 col-md-4 col-6 welcome-image">
                    <div class="boxhny13">
                        <a href="#URL">
                            <img src="~/assets/images/grid3.jpg" class="img-fluid" alt="" />
                            <div class="boxhny-content">
                                <h3 class="title">Product</h3>
                            </div>
                        </a>
                    </div>
                    <h4>
                        <a href="#URL">
                            Watches
                        </a>
                    </h4>


                </div>
                <div class="col-lg-2 col-md-4 col-6 welcome-image">
                    <div class="boxhny13">
                        <a href="#URL">
                            <img src="~/assets/images/grid2.jpg" class="img-fluid" alt="" />
                            <div class="boxhny-content">
                                <h3 class="title">Product</h3>
                            </div>
                        </a>
                    </div>
                    <h4><a href="#URL">Shoes</a></h4>


                </div>
                <div class="col-lg-2 col-md-4 col-6 welcome-image">
                    <div class="boxhny13">
                        <a href="#URL">
                            <img src="~/assets/images/grid4.jpg" class="img-fluid" alt="" />
                            <div class="boxhny-content">
                                <h3 class="title">Product</h3>
                            </div>
                        </a>
                    </div>
                    <h4><a href="#URL">Suits</a></h4>

                </div>
                <div class="col-lg-2 col-md-4 col-6 welcome-image">
                    <div class="boxhny13">
                        <a href="#URL">
                            <img src="~/assets/images/grid5.jpg" class="img-fluid" alt="" />
                            <div class="boxhny-content">
                                <h3 class="title">Product</h3>
                            </div>
                        </a>
                    </div>
                    <h4>
                        <a href="#URL">
                            Accessories
                        </a>
                    </h4>


                </div>
                <div class="col-lg-2 col-md-4 col-6 welcome-image">
                    <div class="boxhny13">
                        <a href="#URL">
                            <img src="~/assets/images/grid6.jpg" class="img-fluid" alt="" />
                            <div class="boxhny-content">
                                <h3 class="title">Product</h3>
                            </div>
                        </a>
                    </div>
                    <h4>
                        <a href="#URL">
                            Fragrances
                        </a>
                    </h4>


                </div>
            </div>

        </div>
    </div>
</section>
<!-- //content-6-section -->

<section class="w3l-content-w-photo-6">
    <!-- /specification-6-->
    <div class="content-photo-6-mian py-5">
        <div class="container py-lg-5">
            <div class="align-photo-6-inf-cols row">

                <div class="photo-6-inf-right col-lg-6">
                    <h3 class="hny-title text-left">All Branded Men's Suits are Flat <span>30% Discount</span></h3>
                    <p>Visit our shop to see amazing creations from our designers.</p>
                    <a href="#" class="read-more btn">
                        Shop Now
                    </a>
                </div>
                <div class="photo-6-inf-left col-lg-6">
                    <img src="assets/images/1.jpg" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //specification-6-->
<!-- //video-6-->
<section class="w3l-ecommerce-main">
    <!-- /products-->
    <div class="ecom-contenthny py-5">
        <div class="container py-lg-5">
            <h3 class="hny-title mb-0 text-center">Shop With <span>Us</span></h3>
            <p class="text-center">Handpicked Favourites just for you</p>
            <!-- /row-->
            <div class="ecom-products-grids row mt-lg-5 mt-3">
                <div class="col-lg-3 col-6 product-incfhny mt-4">
                    <div class="product-grid2 transmitv">
                        <div class="product-image2">
                            <a href="#">
                                <img class="pic-1 img-fluid" src="~/assets/images/shop-1.jpg">
                                <img class="pic-2 img-fluid" src="~/assets/images/shop-11.jpg">
                            </a>


                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Women Maroon Top </a></h3>
                            <span class="price"><del>$975.00</del>$899.99</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6 product-incfhny mt-4">
                    <div class="product-grid2">
                        <div class="product-image2">
                            <a href="#">
                                <img class="pic-1 img-fluid" src="~/assets/images/shop-2.jpg">
                                <img class="pic-2 img-fluid" src="~/assets/images/shop-22.jpg">
                            </a>


                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Men's Pink Shirt </a></h3>
                            <span class="price"><del>$775.00</del>$599.99</span>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-6 product-incfhny mt-4">
                    <div class="product-grid2">
                        <div class="product-image2">
                            <a href="#">
                                <img class="pic-1 img-fluid" src="~/assets/images/shop-3.jpg">
                                <img class="pic-2 img-fluid" src="~/assets/images/shop-33.jpg">
                            </a>


                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Dark Blue Top </a></h3>
                            <span class="price"><del>$875.00</del>$799.99</span>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-6 product-incfhny mt-4">
                    <div class="product-grid2">
                        <div class="product-image2">
                            <a href="#">
                                <img class="pic-1 img-fluid" src="~/assets/images/shop-4.jpg">
                                <img class="pic-2 img-fluid" src="~/assets/images/shop-44.jpg">
                            </a>
                            <ul class="social">
                                <li><a href="#" data-tip="Quick View"><span class="fa fa-eye"></span></a></li>

                                <li>
                                    <a href="#" data-tip="Add to Cart"><span class="fa fa-shopping-bag"></span></a>
                                </li>
                            </ul>

                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Women Tunic </a></h3>
                            <span class="price"><del>$475.00</del>$399.99</span>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-6 product-incfhny mt-4">
                    <div class="product-grid2">
                        <div class="product-image2">
                            <a href="#">
                                <img class="pic-1 img-fluid" src="~/assets/images/shop-5.jpg">
                                <img class="pic-2 img-fluid" src="~/assets/images/shop-55.jpg">
                            </a>


                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Yellow T-Shirt</a></h3>
                            <span class="price"><del>$575.00</del>$299.99</span>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-6 product-incfhny mt-4">
                    <div class="product-grid2">
                        <div class="product-image2">
                            <a href="#">
                                <img class="pic-1 img-fluid" src="~/assets/images/shop-6.jpg">
                                <img class="pic-2 img-fluid" src="~/assets/images/shop-66.jpg">
                            </a>


                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Straight Kurta </a></h3>
                            <span class="price"><del>$775.00</del>$699.99</span>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-6 product-incfhny mt-4">
                    <div class="product-grid2">
                        <div class="product-image2">
                            <a href="#">
                                <img class="pic-1 img-fluid" src="~/assets/images/shop-7.jpg">
                                <img class="pic-2 img-fluid" src="~/assets/images/shop-77.jpg">
                            </a>


                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">White T-Shirt </a></h3>
                            <span class="price"><del>$675.00</del>$599.99</span>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-6 product-incfhny mt-4">
                    <div class="product-grid2">
                        <div class="product-image2">
                            <a href="#">
                                <img class="pic-1 img-fluid" src="~/assets/images/shop-8.jpg">
                                <img class="pic-2 img-fluid" src="~/assets/images/shop-88.jpg">
                            </a>

                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Blue Sweater</a></h3>
                            <span class="price"><del>$575.00</del>$499.99</span>
                        </div>
                    </div>

                </div>


            </div>
            <!-- //row-->
        </div>
    </div>
</section>
<!-- //products-->
<section class="w3l-content-5">
    <!-- /content-6-section -->
    <div class="content-5-main">
        <div class="container">
            <div class="content-info-in row">
                <div class="content-gd col-md-6 offset-lg-3 text-center">
                    <h3 class="hny-title two">
                        Tons of Products & Options to
                        <span>change</span>
                    </h3>
                    <p>AOne Brand is a brand that speaks ethnicity with a flavour of modern touch and comfort. Your go-to clothing solution for each one of your needs. With prices that you will love and quality that you can swear by, our clothing is the best in business with class leading designs and perfection in detail.</p>


                </div>

            </div>

        </div>
    </div>
</section>
<!-- //content-6-section -->
