
@{
    ViewBag.Title = "AdminLogin";
}

<!-- contacts -->
<section class="w3l-contacts-8">
    
    <div class="map-content-9 form-bg-img">
        <div class="layer section-gap py-5">
            <div class="container py-lg-5">
                <div class="form">
                    <h3 class="hny-title two text-center">Fill out the form.</h3>
                    <form action="Login" class="mt-md-5 mt-4" method="post">
                        <div class="input-grids">
                            <input type="text" name="QName" id="w3lName" placeholder="Enter User Name">
                            <input type="password" name="QPassword" id="w3lSender" placeholder="Enter Password" required="" />
                          
                        </div>
                        <button type="submit" class="btn">Login </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>