
@{
    ViewBag.Title = "InvalidLogin";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Try to Rember User Name and Password!</h3>
            <a href="@Url.Action("Index","Home")">Back to Index</a>

        </div>

    </div>

</div>

